#menu_{
	height: 34px;
	width: 1004px;
	background: #324143;
	border-top: 1px solid #666666;
	border-bottom: 4px solid #069;
 }
	
#jsddm{	
	background: #696;
	margin: 0;
	padding: 0}

	#jsddm li
	{	float: left;
		list-style: none;
		text-transform:uppercase;
		font: 12px Tahoma, Arial}

	#jsddm li a
	{	display: block;
		background: #324143;
		padding: 10px 20px;
		text-decoration: none;
		width: auto;
		color: #FFFFFF;
		white-space: nowrap}

	#jsddm li a:hover
	{	background: #24313C}
	
		
		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 4px solid #FFCC00}
		
			#jsddm li ul li
			{	float: none;
				display: inline}
			
			#jsddm li ul li a
			{	width: auto;
				padding: 10px 20px;
				background: #DFDFDF;
				border-bottom: 1px solid #FFF;
				color: #24313C}
			
			#jsddm li ul li a:hover
			{	background: #069;
				color: #FFF}

